<app-modify-content-component (newWatchEvent)= "addWatchToList($event)" (updateWatchEvent)="updateWatchInList($event)">
</app-modify-content-component>

<div>
    <h1>Watch to search</h1>
    <mat-form-field appearance = "fill">
        <mat-label> Enter Watch Name </mat-label>
        <input matInput  #titleTosearch>
    </mat-form-field>
  
  
    <br><button  mat-raised-button color="accent" (click) = "FetchContent(titleTosearch.value)">search</button><br><br>

    <div *ngIf = "FetchContent(titleTosearch.value) === 'null'"></div>
    <div *ngIf = "FetchContent(titleTosearch.value) === 'no'" class="notexists">{{titleTosearch.value}} does not Exists</div>
    <div *ngIf = "FetchContent(titleTosearch.value) === 'yes'" class="exists">{{titleTosearch.value}} Exists</div>
</div>
 <h2>Watches with no types set</h2>
 <app-content-card *ngFor="let item of (watches | watchTypes ); index as i; first as isFirst"
 [watch]="item" [class.is-first]="isFirst" class="notype"></app-content-card>

 <h2>Analog Watches</h2>
 <app-content-card *ngFor="let item of (watches | watchTypes: 'Analog Watch'); index as i; first as isFirst"
 [watch]="item" [class.is-first]="isFirst" class="typeAnalog"></app-content-card>
<h2>Digital Watches</h2>
 <app-content-card *ngFor="let item of (watches | watchTypes: 'Digital Watch'); index as i; first as isFirst"
 [watch]="item" [class.is-first]="isFirst" class="typeDigital"></app-content-card>

<h2>Smart Watches</h2>
 <app-content-card *ngFor="let item of (watches | watchTypes: 'Smart Watch'); index as i; first as isFirst"
 [watch]="item" [class.is-first]="isFirst" class="typeSmart"></app-content-card>

  
  
  









