.no-margin-left{
    margin-left: 0 !important;
}
a{
    text-decoration: none;
  }
  a.active-link{
    font-weight: bold;
    color: blue;
    text-decoration: underline;
  }
// .newContent{
//     border: 1px solid grey;
//     box-shadow: 10px  10px grey;
//     margin-bottom: 20px;
// }
// h1{
//     font-weight: bold;
//     font-size: 28px;
// }
// .matdivider{
//     border-top-color: green;
//     border-top-width: 5px;
// }
// :host{
//     display: block;
//     width: 1200px;
//     padding: 25px;
//     margin: 10px auto;
//     text-align: center;
  
    
//     .title{
//         color:blue;
//         text-align: center;
//     }
//     img{
//        background-size: cover;
//         width: 500px;
//         height: 500px;
    
//     }
//     .type{
//         display: block;
//         font-weight: bold;
//         font-size: 2em;
//         margin: 10px;
//         color: purple;
//     }

//     .tags{
//         color: black;
//         padding: 10px;
//         margin: 16px 0;
//         font-size: 1.5em;

//       }
//       .tag{
//         padding: 8px;
//         background-color: #747bdb;
//         border-radius:8px;
//         margin: 5px;
//       }
// }




