<div class="server">
<h2>Store and retrieve Content using Simulated Server</h2>
<!-- <div>
    <mat-form-field class="inputClass" appearance = "fill" color="accent">
        <mat-label> ID </mat-label>
        <input matInput [(ngModel)]= "idValue">
    </mat-form-field><br>
    <mat-form-field class="inputClass" appearance = "fill">
        <mat-label> Title </mat-label>
        <input matInput [(ngModel)] = "title">
    </mat-form-field><br>
    <mat-form-field class="inputClass" appearance = "fill">
        <mat-label> Description </mat-label>
        <input matInput [(ngModel)] = "description">
    </mat-form-field><br>
    <mat-form-field class="inputClass" appearance = "fill">
        <mat-label> Creator </mat-label>
        <input matInput [(ngModel)] = "creator">
    </mat-form-field><br>
    <mat-form-field class="inputClass" appearance = "fill">
        <mat-label> Image URL </mat-label>
        <input matInput [(ngModel)]= "imgUrl">
    </mat-form-field><br>
    <mat-form-field class="inputClass" appearance = "fill">
        <mat-label> Type </mat-label>
        <input matInput [(ngModel)]= "type">
    </mat-form-field><br>
    <mat-form-field class="inputClass" appearance = "fill">
        <mat-label> Tags </mat-label>
        <input matInput [(ngModel)]= "tags">
    </mat-form-field>

</div>
<div>
    <button mat-raised-button color="accent" (click)="addWatch()">{{idValue ? 'Update Content' : 'Add Content'}}</button>
</div><br> -->

<div>
    <button mat-raised-button color="primary"  (click)="openDialog()">Add New Content</button>
</div>
</div>
