
:host{
    display: block;
    width: 800px;
    border: 1px solid brown;
    padding: 25px;
    margin: 10px auto;
    text-align: center;

    .title{
        color:#ff0000;
        text-align: center;
    }
    img{
       background-size: cover;
        width: 650px;
        height: 650px;
    
    }
}

:host.is-first{
    border: 2px solid black;
}